In [1]:
import sqlalchemy as sa
from sqlalchemy.types import TIMESTAMP
from sqlalchemy import create_engine
import numpy as np
# import pandas as pd
from time import time
import os
from copy import deepcopy
from functools import reduce

import psycopg2
import psycopg2.extensions
from psycopg2.extras import LoggingConnection, LoggingCursor
import logging

In [2]:
%load_ext sql
%sql postgresql://docker:docker@localhost:5435/oman

Connecting to 'postgresql://docker:***@localhost:5435/oman'

## For Visualization Use:
- pgAdmin4
- Grafana

**Important Info:** I'm using pgadmin4 viewer to see the geometry datatype.

#### Create tables and add data

In [14]:
%%sql

CREATE EXTENSION mobilitydb CASCADE;
CREATE TABLE gpsPoint (tripID int, pointID int, t timestamp, geom geometry(Point, 3812));
CREATE TABLE billboard(billboardID int, geom geometry(Point, 3812));

Running query in 'postgresql://docker:***@localhost:5435/oman'

RuntimeError: (psycopg2.errors.DuplicateTable) relation "billboard" already exists

[SQL: CREATE TABLE billboard(billboardID int, geom geometry(Point, 3812));]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [7]:
%%sql

INSERT INTO gpsPoint Values
(1, 1, '2020-04-21 08:37:27', 'SRID=3812;POINT(651096.993815166 667028.114604598)'),
(1, 2, '2020-04-21 08:37:39', 'SRID=3812;POINT(651080.424535144 667123.352304597)'),    
(1, 3, '2020-04-21 08:38:06', 'SRID=3812;POINT(651067.607438095 667173.570340437)'),
(1, 4, '2020-04-21 08:38:31', 'SRID=3812;POINT(651052.741845233 667213.026797244)'),    
(1, 5, '2020-04-21 08:38:49', 'SRID=3812;POINT(651029.676773636 667255.556944161)'),    
(1, 6, '2020-04-21 08:39:08', 'SRID=3812;POINT(651018.401101238 667271.441380755)'),    
(2, 1, '2020-04-21 08:38:29', 'SRID=3812;POINT(651262.17004873  667119.331513367)'),    
(2, 2, '2020-04-21 08:38:36', 'SRID=3812;POINT(651201.431447782 667089.682115196)'),    
(2, 3, '2020-04-21 08:38:43', 'SRID=3812;POINT(651186.853162155 667091.138189286)'),    
(2, 4, '2020-04-21 08:38:49', 'SRID=3812;POINT(651181.995412783 667077.531372716)'),    
(2, 5, '2020-04-21 08:38:56', 'SRID=3812;POINT(651101.820139904 667041.076539663)'); 

INSERT INTO billboard Values
(1, 'SRID=3812;POINT(651066.289442793 667213.589577551)'),
(2, 'SRID=3812;POINT(651110.505092035 667166.698041233)');

Running query in 'postgresql://docker:***@localhost:5435/oman'

11 rows affected.

++
||
++
++

In [20]:
%%sql

CREATE TABLE billboard_4326(billboardID, geom) AS
  SELECT billboardID, ST_Transform(geom, 4326)  FROM billboard;

Running query in 'postgresql://docker:***@localhost:5435/oman'

2 rows affected.

++
||
++
++

In [15]:
%%sql

SELECT *
FROM gpsPoint a

Running query in 'postgresql://docker:***@localhost:5435/oman'

11 rows affected.

+--------+---------+---------------------+----------------------------------------------------+
| tripid | pointid |          t          |                        geom                        |
+--------+---------+---------------------+----------------------------------------------------+
|   1    |    1    | 2020-04-21 08:37:27 | 0101000020E40E00006857D5FCB1DE23413174AD3A285B2441 |
|   1    |    2    | 2020-04-21 08:37:39 | 0101000020E40E00009FAB5CD990DE2341A54461B4E65B2441 |
|   1    |    3    | 2020-04-21 08:38:06 | 0101000020E40E00004120023777DE234169A903244B5C2441 |
|   1    |    4    | 2020-04-21 08:38:31 | 0101000020E40E00006D23D37B59DE23414D5EB80D9A5C2441 |
|   1    |    5    | 2020-04-21 08:38:49 | 0101000020E40E0000F312825A2BDE2341FAC8271DEF5C2441 |
|   1    |    6    | 2020-04-21 08:39:08 | 0101000020E40E000037245DCD14DE234188A8FCE10E5D2441 |
|   2    |    1    | 2020-04-21 08:38:29 | 0101000020E40E00008CA01057FCDF2341BB1EBCA9DE5B2441 |
|   2    |    2    | 2020-04-21 08:38:36 | 0101000020E40E000043B9E6DC82DF2341F6333E5DA35B2441 |
|   2    |    3    | 2020-04-21 08:38:43 | 0101000020E40E000084ABD1B465DF234100BFC046A65B2441 |
|   2    |    4    | 2020-04-21 08:38:49 | 0101000020E40E00008ABEA6FD5BDF2341AA1510108B5B2441 |
+--------+---------+---------------------+----------------------------------------------------+
Truncated to displaylimit of 10.

Convert the `geom` column of "Geometry" type to lat, lon

In [12]:
%%sql

SELECT 
    ST_X(ST_Transform(geom, 4326)) AS lon,
    ST_Y(ST_Transform(geom, 4326)) AS lat
FROM gpsPoint a

Running query in 'postgresql://docker:***@localhost:5435/oman'

11 rows affected.

+-------------------+
|        lon        |
+-------------------+
| 4.384316944604734 |
| 4.384082287638266 |
| 4.383900653230646 |
| 4.383689896817218 |
| 4.383362800047422 |
| 4.383202869935037 |
| 4.386661188509353 |
| 4.385799173474091 |
| 4.385592320032401 |
|  4.38552332183916 |
+-------------------+
Truncated to displaylimit of 10.

In [5]:
%%sql

WITH pointPair AS(
  SELECT tripID, pointID AS p1, t AS t1, geom AS geom1,
    lead(pointID, 1) OVER (PARTITION BY tripID ORDER BY pointID) p2,
    lead(t, 1) OVER (PARTITION BY tripID ORDER BY pointID) t2,
    lead(geom, 1) OVER (PARTITION BY tripID ORDER BY pointID) geom2    
  FROM gpsPoint
), segment AS(
  SELECT tripID, p1, p2, t1, t2,
    st_makeline(geom1, geom2) geom
  FROM pointPair
  WHERE p2 IS NOT NULL    
), approach AS(
  SELECT tripID, p1, p2, t1, t2, a.geom,
    st_intersection(a.geom, st_exteriorRing(st_buffer(b.geom, 30))) visibilityTogglePoint
  FROM segment a, billboard b
  WHERE st_dwithin(a.geom, b.geom, 30)
)
SELECT tripID, p1, p2, t1, t2, geom, visibilityTogglePoint,
  (st_lineLocatePoint(geom, visibilityTogglePoint) * (t2 - t1)) + t1 visibilityToggleTime
FROM approach;

Running query in 'postgresql://docker:***@localhost:5435/oman'

2 rows affected.

+--------+----+----+---------------------+---------------------+--------------------------------------------------------------------------------------------+----------------------------------------------------+----------------------------+
| tripid | p1 | p2 |          t1         |          t2         |                                            geom                                            |               visibilitytogglepoint                |    visibilitytoggletime    |
+--------+----+----+---------------------+---------------------+--------------------------------------------------------------------------------------------+----------------------------------------------------+----------------------------+
|   1    | 3  | 4  | 2020-04-21 08:38:06 | 2020-04-21 08:38:31 | 0102000020E40E0000020000004120023777DE234169A903244B5C24416D23D37B59DE23414D5EB80D9A5C2441 | 0101000020E40E000020FACF796FDE234146F887AE5F5C2441 | 2020-04-21 08:38:12.507516 |
|   1    | 4  | 5  | 2020-04-21 08:38:31 | 2020-04-21 08:38:49 | 0102000020E40E0000020000006D23D37B59DE23414D5EB80D9A5C2441F312825A2BDE2341FAC8271DEF5C2441 | 0101000020E40E0000BBF5832945DE23418DC35C86BF5C2441 | 2020-04-21 08:38:38.929465 |
+--------+----+----+---------------------+---------------------+--------------------------------------------------------------------------------------------+----------------------------------------------------+----------------------------+

In [8]:
%%sql

SELECT tripID, pointID AS p1, t AS t1, geom AS geom1,
    lead(pointID, 1) OVER (PARTITION BY tripID ORDER BY pointID) p2,
    lead(t, 1) OVER (PARTITION BY tripID ORDER BY pointID) t2,
    lead(geom, 1) OVER (PARTITION BY tripID ORDER BY pointID) geom2    
FROM gpsPoint

Running query in 'postgresql://docker:***@localhost:5435/oman'

11 rows affected.

+--------+----+---------------------+----------------------------------------------------+------+---------------------+----------------------------------------------------+
| tripid | p1 |          t1         |                       geom1                        |  p2  |          t2         |                       geom2                        |
+--------+----+---------------------+----------------------------------------------------+------+---------------------+----------------------------------------------------+
|   1    | 1  | 2020-04-21 08:37:27 | 0101000020E40E00006857D5FCB1DE23413174AD3A285B2441 |  2   | 2020-04-21 08:37:39 | 0101000020E40E00009FAB5CD990DE2341A54461B4E65B2441 |
|   1    | 2  | 2020-04-21 08:37:39 | 0101000020E40E00009FAB5CD990DE2341A54461B4E65B2441 |  3   | 2020-04-21 08:38:06 | 0101000020E40E00004120023777DE234169A903244B5C2441 |
|   1    | 3  | 2020-04-21 08:38:06 | 0101000020E40E00004120023777DE234169A903244B5C2441 |  4   | 2020-04-21 08:38:31 | 0101000020E40E00006D23D37B59DE23414D5EB80D9A5C2441 |
|   1    | 4  | 2020-04-21 08:38:31 | 0101000020E40E00006D23D37B59DE23414D5EB80D9A5C2441 |  5   | 2020-04-21 08:38:49 | 0101000020E40E0000F312825A2BDE2341FAC8271DEF5C2441 |
|   1    | 5  | 2020-04-21 08:38:49 | 0101000020E40E0000F312825A2BDE2341FAC8271DEF5C2441 |  6   | 2020-04-21 08:39:08 | 0101000020E40E000037245DCD14DE234188A8FCE10E5D2441 |
|   1    | 6  | 2020-04-21 08:39:08 | 0101000020E40E000037245DCD14DE234188A8FCE10E5D2441 | None |         None        |                        None                        |
|   2    | 1  | 2020-04-21 08:39:29 | 0101000020E40E00008CA01057FCDF2341BB1EBCA9DE5B2441 |  2   | 2020-04-21 08:38:36 | 0101000020E40E000043B9E6DC82DF2341F6333E5DA35B2441 |
|   2    | 2  | 2020-04-21 08:38:36 | 0101000020E40E000043B9E6DC82DF2341F6333E5DA35B2441 |  3   | 2020-04-21 08:38:43 | 0101000020E40E000084ABD1B465DF234100BFC046A65B2441 |
|   2    | 3  | 2020-04-21 08:38:43 | 0101000020E40E000084ABD1B465DF234100BFC046A65B2441 |  4   | 2020-04-21 08:38:49 | 0101000020E40E00008ABEA6FD5BDF2341AA1510108B5B2441 |
|   2    | 4  | 2020-04-21 08:38:49 | 0101000020E40E00008ABEA6FD5BDF2341AA1510108B5B2441 |  5   | 2020-04-21 08:38:56 | 0101000020E40E0000A460E9A3BBDE2341EB343027425B2441 |
+--------+----+---------------------+----------------------------------------------------+------+---------------------+----------------------------------------------------+
Truncated to displaylimit of 10.

#### Create tgeometry (Temporal Geometry) a MobilityDB datatype for the same trip
Also create a "4326" version of the `gpsPoint` table.

In [ ]:
%%sql

CREATE TABLE gps_point_4326 AS (
  SELECT tripid, pointid, t, ST_Transform(geom, 4326) AS geom
  FROM gpspoint
);

In [11]:
%%sql 

CREATE TABLE busTrip(tripID, trip) AS
  SELECT 
    tripID, 
    tgeompoint_seq(array_agg(tgeompoint_inst(geom, t) ORDER BY t) FILTER (WHERE geom IS NOT NULL))
  FROM gps_point_4326
  GROUP BY tripID

Running query in 'postgresql://docker:***@localhost:5435/oman'

2 rows affected.

++
||
++
++

### Visualize the radius around a billboard

In [63]:
%%sql

SELECT billboardid, ST_Buffer(geom, 0.0004)
FROM billboard_4326 ;

Running query in 'postgresql://docker:***@localhost:5435/oman'

2 rows affected.

+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| billboardid |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             st_buffer                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|      1      | 0103000020E61000000100000021000000A37DD94181891140BC6AAF9A5D68494071F10E3E7F8911403B1B120C5B6849400D9F81467989114001DA9C9658684940307CE5956F8911407C38805256684940FC9D8E8B6289114023510756546849403363C7A7528911405C75BCB4526849400657E2864089114001F1A87E516849403C4D38DB2C891140B446B7BF5068494032D14D66188911402EF53D7F50684940285563F103891140B446B7BF506849405E4BB945F088114001F1A87E51684940313FD424DE8811405C75BCB45268494068040D41CE88114023510756546849403426B636C18811407C3880525668494057031A86B788114001DA9C9658684940F3B08C8EB18811403B1B120C5B684940C124C28AAF881140BC6AAF9A5D684940F3B08C8EB18811403DBA4C296068494057031A86B788114077FBC19E626849403426B636C1881140FC9CDEE26468494068040D41CE881140558457DF66684940313FD424DE8811401C60A280686849405E4BB945F088114077E4B5B669684940285563F103891140C48EA7756A68494032D14D66188911404AE020B66A6849403C4D38DB2C891140C48EA7756A6849400657E2864089114077E4B5B6696849403363C7A7528911401C60A28068684940FC9D8E8B62891140558457DF66684940307CE5956F891140FC9CDEE2646849400D9F81467989114077FBC19E6268494071F10E3E7F8911403DBA4C2960684940A37DD94181891140BC6AAF9A5D684940 |
|      2      | 0103000020E61000000100000021000000E8220CAC258A1140FD1370C94F684940B69641A8238A11407CC4D23A4D6849405244B4B01D8A114042835DC54A68494075211800148A1140BDE14081486849404143C1F5068A114064FAC784466849407808FA11F78911409D1E7DE3446849404BFC14F1E4891140429A69AD4368494081F26A45D1891140F5EF77EE42684940777680D0BC8911406F9EFEAD426849406DFA955BA8891140F5EF77EE42684940A3F0EBAF94891140429A69AD4368494076E4068F828911409D1E7DE344684940ADA93FAB7289114064FAC7844668494079CBE8A065891140BDE14081486849409CA84CF05B89114042835DC54A6849403856BFF8558911407CC4D23A4D68494006CAF4F453891140FD1370C94F6849403856BFF8558911407E630D58526849409CA84CF05B891140B8A482CD5468494079CBE8A0658911403D469F1157684940ADA93FAB72891140962D180E5968494076E4068F828911405D0963AF5A684940A3F0EBAF94891140B88D76E55B6849406DFA955BA8891140053868A45C684940777680D0BC8911408B89E1E45C68494081F26A45D1891140053868A45C6849404BFC14F1E4891140B88D76E55B6849407808FA11F78911405D0963AF5A6849404143C1F5068A1140962D180E5968494075211800148A11403D469F11576849405244B4B01D8A1140B8A482CD54684940B69641A8238A11407E630D5852684940E8220CAC258A1140FD1370C94F684940 |
+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

<!-- Reference image from assets here -->
![img](assets/001_billboard_buffer.png)

## MobilityDB Query to

### 1st step
This step find the timestamps where the vehicle `a.trip` is within "x" meters of the `b.geom`. 

The returned value is a `tbool` type. Which has `t` for "true" with the timestamps where the vehicle is within "x" meters of the `b.geom` and `f` for "false" with the timestamps where the vehicle is not within "x" meters of the `b.geom`. E.g. `t @ 2021-01-01 00:00:00+00:00` means the vehicle is within "x" meters of the `b.geom` at `2021-01-01 00:00:00+00:00`.

In [45]:
%%sql 
-- tdwithin: temporal distance within. Here it means check if t-distance between two tgeom is within 30 
SELECT tdwithin(a.trip, b.geom, 0.0004)
FROM busTrip a, billboard_4326 b
WHERE eDwithin(a.trip, b.geom, 0.0004)

Running query in 'postgresql://docker:***@localhost:5435/oman'

1 rows affected.

+------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                          tdwithin                                                                          |
+------------------------------------------------------------------------------------------------------------------------------------------------------------+
| {[f@2020-04-21 08:37:27+00, t@2020-04-21 08:38:03.68088+00, t@2020-04-21 08:38:39.939853+00], (f@2020-04-21 08:38:39.939853+00, f@2020-04-21 08:39:08+00]} |
+------------------------------------------------------------------------------------------------------------------------------------------------------------+

### 2nd step
In this step we add the function `atValues` to filter out only the timestamps which have `t` or "ture" tag.
The value `TRUE` is an argument to the function `atValues`. This function takes in the value which is needs to filter out from the `t-<postgres type>` type column.

The return type is still `tbool`

In [47]:
%%sql 

SELECT atValues( tdwithin(a.trip, b.geom, 0.0004), TRUE )
FROM busTrip a, billboard_4326 b
WHERE eDwithin(a.trip, b.geom, 0.0004)

Running query in 'postgresql://docker:***@localhost:5435/oman'

1 rows affected.

+-----------+
| pg_typeof |
+-----------+
|   tbool   |
+-----------+

### 3rd step
We now only extract the time from the `tbool`. Now the return type is `tstzspanset` which is a set of time spans.

In [54]:
%%sql 

SELECT getTime( atValues( tdwithin(a.trip, b.geom, 0.0004), TRUE ) )
FROM busTrip a, billboard_4326 b
WHERE eDwithin(a.trip, b.geom, 0.0004)

Running query in 'postgresql://docker:***@localhost:5435/oman'

1 rows affected.

+-----------------------------------------------------------------+
|                             gettime                             |
+-----------------------------------------------------------------+
| {[2020-04-21 08:38:03.68088+00, 2020-04-21 08:38:39.939853+00]} |
+-----------------------------------------------------------------+

### 4th step
Now we use the function `atTime` to truncate the original trip `a.trip` (type `tgeompoint`) to the time spans we got from the previous step.

The return type is `tgeompoint`

In [60]:
%%sql

SELECT atTime(a.trip, getTime( atValues( tdwithin(a.trip, b.geom, 0.0004), TRUE ) ))
FROM busTrip a, billboard_4326 b
WHERE eDwithin(a.trip, b.geom, 0.0004)

Running query in 'postgresql://docker:***@localhost:5435/oman'

1 rows affected.

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                            attime                                                                                                                                                           |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| {[0101000020E61000009C77B4572189114025BC778B50684940@2020-04-21 08:38:03.68088+00, 0101000020E61000009727BA401D891140BC90C5D051684940@2020-04-21 08:38:06+00, 0101000020E6100000D28A1A01E6881140266795705D684940@2020-04-21 08:38:31+00, 0101000020E61000000A2DE86ABB881140EFABC3A963684940@2020-04-21 08:38:39.939853+00]} |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

### 5th step (For Visualization)
We have the `tgeompoint` type which we can convert to a `geometry` type for visualization using the function `Trajectory` from PostGIS.

Paste the below function is pgAdmin4 and use the PostGIS viewer.

In [61]:
%%sql

SELECT Trajectory( atTime(a.trip, getTime( atValues( tdwithin(a.trip, b.geom, 0.0004), TRUE ) )) )
FROM busTrip a, billboard_4326 b
WHERE eDwithin(a.trip, b.geom, 0.0004)

Running query in 'postgresql://docker:***@localhost:5435/oman'

1 rows affected.

+------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                         trajectory                                                                         |
+------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 0102000020E6100000040000009C77B4572189114025BC778B506849409727BA401D891140BC90C5D051684940D28A1A01E6881140266795705D6849400A2DE86ABB881140EFABC3A963684940 |
+------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [22]:
%%sql 

SELECT atTime(trip, getTime(atValues(tdwithin(a.trip, b.geom, 30), TRUE)))
FROM busTrip a, billboard_4326 b
WHERE eDwithin(a.trip, b.geom, 30)

Running query in 'postgresql://docker:***@localhost:5435/oman'

4 rows affected.

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                attime                                                                                                                                                                                                                                |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| {[0101000020E6100000008191618A8911408DE019F726684940@2020-04-21 08:37:27+00, 0101000020E6100000528401DE4C8911407128780543684940@2020-04-21 08:37:39+00, 0101000020E61000009727BA401D891140BC90C5D051684940@2020-04-21 08:38:06+00, 0101000020E6100000D28A1A01E6881140266795705D684940@2020-04-21 08:38:31+00, 0101000020E6100000A0D302429088114046FF61F869684940@2020-04-21 08:38:49+00, 0101000020E6100000D46A485566881140EBF083A66E684940@2020-04-21 08:39:08+00]} |
| {[0101000020E6100000008191618A8911408DE019F726684940@2020-04-21 08:37:27+00, 0101000020E6100000528401DE4C8911407128780543684940@2020-04-21 08:37:39+00, 0101000020E61000009727BA401D891140BC90C5D051684940@2020-04-21 08:38:06+00, 0101000020E6100000D28A1A01E6881140266795705D684940@2020-04-21 08:38:31+00, 0101000020E6100000A0D302429088114046FF61F869684940@2020-04-21 08:38:49+00, 0101000020E6100000D46A485566881140EBF083A66E684940@2020-04-21 08:39:08+00]} |
|                                      {[0101000020E6100000E31E1DE9F08B1140AD376ED141684940@2020-04-21 08:38:29+00, 0101000020E6100000889443F00E8B1140929C361739684940@2020-04-21 08:38:36+00, 0101000020E6100000008390B6D88A1140EAB6688539684940@2020-04-21 08:38:43+00, 0101000020E6100000F1932CA0C68A11407D46708335684940@2020-04-21 08:38:49+00, 0101000020E6100000669092599C8911400C8A72C82A684940@2020-04-21 08:38:56+00]}                                       |
|                                      {[0101000020E6100000E31E1DE9F08B1140AD376ED141684940@2020-04-21 08:38:29+00, 0101000020E6100000889443F00E8B1140929C361739684940@2020-04-21 08:38:36+00, 0101000020E6100000008390B6D88A1140EAB6688539684940@2020-04-21 08:38:43+00, 0101000020E6100000F1932CA0C68A11407D46708335684940@2020-04-21 08:38:49+00, 0101000020E6100000669092599C8911400C8A72C82A684940@2020-04-21 08:38:56+00]}                                       |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+